$bgColor_light: white;
$bgColor_dark: black;

$textColor_light: black;
$textColor_dark: white;

$borderColor_light: black;
$borderColor_dark: white;

$primary_light: #007095;
$primary_dark: #fff;

@mixin lighten() {
  --primaryColor: #{$primary_light};
  --bgColor: #{$bgColor_light};
  --textColor: #{$textColor_light};
  --borderColor: #{$borderColor_light};
}

@mixin darken() {
  --primaryColor: #{$primary_dark};
  --bgColor: #{$bgColor_dark};
  --textColor: #{$textColor_dark};
  --borderColor: #{$borderColor_dark};
}

[data-theme="light"] {
  @include lighten();
}

[data-theme="dark"] {
  @include darken();
}
